body {font-size: 1.5em;color:#333;font-family:"Helvetica Neue",Helvetica,sans-serif;}
a {text-decoration:none;color:#3B6869;}
a:hover {color:#125C00;}
.csr{cursor:hand;}
.con{width:500px;margin:0 auto;}
.bg{background-color:#ededed;}
.gr {background-color: #93B30E;}
.left { float:left; }
.rlv {position:relative;}
.hm {color:#292CC9;}
.ca {
  height:300px;
  padding:5px;
}
.table {display:table;}
.fr { margin:15px 15px 0; }
.blu {color:#87AFD9; }
textarea {
  width:460px;
  height:100%;
  border:none;
  background-color:#0D152C;
  color:#ececec;
  font-size:0.9em;
  font-family:Courier, monospace;
}
.sl,.cl {
  text-align:center;
  display:table-cell;
  vertical-align:middle;
}
#menu .cl {padding:0 0.5em 0 0;}
.wh {
  background-color:white;
}
#pre {
  display:table;
  width:470px;
  clear:left;
}
#wtr {
  position:absolute;top:40px;right:25px;color:#ccc;font-weight:bold;
}
#we, #sw, #sc {
  left:0;
  top:0;
  width:100%;
}
#we, #sw {
  height:100%;
  position:fixed;
}
.sc {
  display:table;
  height:100%;
  background-color:none;
  position:absolute;
}
#sw a.ex {
  position: fixed;
  bottom: 1em;
  right: 1em;
}
#pgs { z-index:1;}
#pgs a { padding:2px 8px; background-color: #ccc; float:left;}
#pgs a.cur { background-color: #efefef;}
#we .sc { margin-left:2em;}
#we a {display:block; margin:0 0 0.5em;}
ul{text-align:left;margin: 1em 20%;}
